<!-- views/partials/footer.ejs -->
<footer>
    <div id="sec_three" class="pimg3">
        <div class="ptext">
            <span class="border trans">CONTACT US</span>
        </div>
    </div>
    <section class="section section-dark">
        <h2>CONTACT US</h2>
        <p>Sign up for our newsletter and recieve regular updates about your favourate cities.</p>

        <form class="" action="/users" method="POST">
            <input type="text" name="full_name" value="">
            <br>
            <input type="email" placeholder="email here" name="email" value="">
            <button type="" name="button">SUBSCRIPTION HERE</button>
        </form>
    </section>
</footer>