<!-- views/partials/navbar.ejs -->
<nav>
    <ul>
        <a href="#">
            <li>HOME</li>
        </a>
        <a href="#sec_one">
            <li>GALLERY</li>
            <a href="#sec_two">
                <li>CHOOSE CITY</li>
            </a>
            <a href="#sec_three">
                <li>CONTACT</li>
            </a>
    </ul>
    <div class="handle">MENU</div>
</nav>
